@use '../abstracts/functions' as *;
@use '../abstracts/colors' as *;

body {
  font-family: 'RedHat', sans-serif;
  background-color: $rose-100;
}

main {
  max-inline-size: rem(1440);
  margin-inline: auto;
  display: grid;
  padding: 1.3rem;
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

@media (width >= rem(768)) {
  main {
    grid-template-columns: 1fr auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 75ms ease-out;
  }
  :not(:active):focus-visible {
    transition-duration: 0.25s;
  }
}

:not(:active):focus-visible {
  outline-offset: 0.3rem;
}
