@use '../abstracts/colors' as *;
@use '../abstracts/functions' as *;

.cart {
  background-color: $rose-50;
  border-radius: 10px;
  padding-block-start: 1.5rem;
  padding-block-end: 2rem;
  padding-inline: 1.5rem;

  h2 {
    color: $red;
  }

  dl {
    margin-block: 1.5rem;
    display: grid;
    gap: 0.7rem;

    .cart-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-block-end: 1px solid $rose-100;
      padding-block-end: 1rem;

      .item-name,
      .item-details__qty,
      .item-details__subtotal {
        font-weight: 600;
      }

      .item-name {
        color: $rose-900;
      }

      .item-details {
        display: flex;
        align-items: center;
        gap: 1rem;

        .item-details__qty {
          color: $red;
        }
        .item-details__price,
        .item-details__subtotal {
          color: $rose-500;
        }
      }
      button {
        border-radius: 50%;
        border: 1px solid $rose-400;
        background-color: $rose-50;
        width: fit-content;
        aspect-ratio: 1;
        transition-property: border-color, stroke;
        transition-duration: 300ms;
        transition-timing-function: ease;

        &:hover,
        &:focus-visible {
          border-color: $rose-900;

          svg {
            stroke: $rose-900;
          }
        }
      }
    }
  }
  @media (width >= rem(1040)) {
    place-self: start stretch;
    padding-inline: 1rem;
    position: sticky;
    top: 2rem;
  }
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: $rose-900;
  }
  span:first-child {
    font-weight: 600;
  }
  span:last-child {
    font-size: rem(22);
    font-weight: 700;
  }
}

.delivery-msg {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: $rose-100;
  padding-block: 1rem;
  border-radius: 6px;
  margin-block-start: 1.5rem;

  p {
    color: $rose-900;
    span {
      font-weight: 600;
    }
  }
}

.confirm-order-btn {
  background-color: $red;
  color: $rose-50;
  font-weight: 600;
  border-radius: 40px;
  margin-block-start: 1.5rem;
  width: 100%;
  border-color: transparent;
  padding-block: 0.7rem;
  transition: filter 300ms ease;

  &:hover,
  &:focus-visible {
    filter: saturate(70%);
  }
}

.empty-cart {
  img {
    margin-inline: auto;
    margin-block-start: 2rem;
  }
  p {
    text-align: center;
    color: $rose-500;
    font-weight: 600;
    margin-block-start: 1rem;
  }
}
